:root {
  --font-family: 'Roboto';
  --container-width: 1170px;
  --body-font-size: 16px;
  --body-line-height: 20px;
  --body-font-weight: 400;

  --color-black: #161618;
  --color-dark-grey: #1e1e20;
}
